<!DOCTYPE html>
<html>
<head>
  
  <title>alpha-blog</title>
</head>
<body>
    <%= link_to'Home', pages_home_path %>
    <jumbotron><h1>About Page</h1></jumbotron>
    
    <p>not much to talk about I guess</p>

</body>
</html>