<div class="container">
    <footer class="footer">
        <small>Copyright none; Thanks for visiting this page by Sam O'Barr</small>
        <nav>
            <ul>
                <li><%= link_to "About", pages_about_path %></li>
            </ul>
        </nav>
    </footer>
</div>